.contact-wrapper {
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 10% 5% 2% 10%;
  overflow: hidden;
}
.jumbotron {
  /* margin-top: 5%; */
  width: 796px;
  height: 687px;
  overflow: hidden;
}

.contact-container {
  border-radius: 35px;
  /* margin: 10% auto; */
  text-align: start;
  display: block;
  width: 40%;
  height: auto;
  padding: 1rem 4rem;
  background-color: #59abae3d;
}

.h1-contact {
  font-size: 30px;
  font-weight: bold;
  line-height: 3.5rem;
}
.form-roup textarea {
  height: 5rem;
}
.p-contact {
  font-size: 20px;
  line-height: 2rem;
  max-width: 612px;
}
strong {
  color: #59abae;
}

.form-inline {
  float: right;
}

#success-message {
  opacity: 0;
}

.margin-top-25 {
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.form-group {
  display: grid;
  width: 80%;
  font-size: 20px;
  padding: 10px;
}

.form-control {
  border: none;
  font-size: 20px;
  padding-top: 10px;
  /* width: 57%; */
  background-color: transparent;
  border-bottom: 0.5px solid #0000004d;
}

.form-control-1 {
  border: none;
  font-size: 20px;
  padding-top: 10px;
  /* width: 57%; */
  background-color: transparent;
  border-bottom: 0.5px solid #0000004d;
  height: 3rem;
}

.error {
  color: #ff0000;
  font-size: 14px;
  font-weight: 400;
}

.send-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #071b2f;
  z-index: 1;
  height: 50px;
  width: 250px;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 1px 1px 19px -2px #155a9e80;
  transition: all 250ms;
  overflow: hidden;
}

.send-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0d3762;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px #0d3762;
  transition: all 250ms;
}

.send-btn:hover {
  color: #e8e8e8;
}

.send-btn:hover::before {
  width: 100%;
}

/* Responsive styles */

@media screen and (max-width: 1400px) {
  .jumbotron {
    /* margin-top: 5%; */
    width: 504px;
    height: 521px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1048px) {
  .jumbotron {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .contact-container {
    /* width: 100%; */
    /* transform: translate(10%, 30%); */
    margin: auto;
  }
  .contact-wrapper {
    height: ;
    display: flex;
    flex-direction: row;
    margin: 15% 5% 2% 10%;
    overflow: hidden;
  }

  .form-group {
    width: 70%;
  }
  .jumbotron {
    height: 400px;
    transform: translateY(320px);
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
    height: 100%;
    /* transform: translate(5%, 10%); */
  }

  .jumbotron {
    width: 100%;
    height: 500px;
    transform: translate(5%, 10%);
  }

  .form-group {
    width: 100%;
  }

  .send-btn {
    width: fit-content;
  }

  .form-group .form-control {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .contact-container {
    transform: translate(0, 0);
    width: 60%;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10%;
  }

  .jumbotron {
    display: none;
  }
  .form-group {
    width: 100%;
  }

  .send-btn {
    width: 100%;
  }
}
