@import url(https://fonts.googleapis.com/css?family=Raleway);
.about-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60vh; 
  margin: 0 5% 5% ;
}
.activity-select{
  top:100%;

}
.go-button {
  height: 50px;
  width: 100px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #071b2f;
  z-index: 1;
margin-top: 3%;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 1px 4px 19px -1px #0d3762a4;
  box-shadow: 1px 1px 19px -2px #155a9e80;
  transition: all 250ms;
  overflow: hidden;
}
.activity-select {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  top: 100%;
  gap: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.locationSelect {
  border-radius: 20px;
  height: 30px;
  text-align: center;
}
.activitySelect {
  border-radius: 20px;
  height: 30px;
  text-align: center;
}

.activ-wrapper {
  display: grid;
  grid-row: 2;
  gap: 5px;
  color: white;
  font-size: 25px;
  width: 250px;
  background-color: #0d3762;
  height: 75px;
  border-radius: 30px;
  padding: 10px;
}
.loc-wrapper {
  display: grid;
  grid-row: 2;
  gap: 5px;
  color: white;
  font-size: 25px;
  width: 250px;
  background-color: #0d3762;
  height: 75px;
  border-radius: 30px;
  padding: 10px;
}
.loc-wrapper label{
  color: white;
}.activ-wrapper label{
  color: white;
}
.about-video {
  position: relative;
  transform: rotate(-90deg);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 50%;
  text-align: start;
  font-size: 1.5rem;
}

.about-text .about-title .title-abouthome {
  color: #0d3762;
  font-size: 40px;
  line-height: 1.5;
}
.about-text .about-description {
  font-size: 20px;
  width: 80%;
  color: #071b2f;
}
.about-text .not {
  line-height: 0;
  font-size: 50px;
  font-family: "Yellowtail", cursive;
  margin-left: -0.5rem;
  color: #59abae;
}

.about-video video {
  border-radius: 50%;
  filter: brightness(70%);
  z-index: 1;
  width: 60%;
  object-fit: cover;
  height: 90%;
}
.about-button{
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #071b2f;
  z-index: 1;
  height: 50px;
  width: 150px;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 1px 4px 19px -1px #0d3762a4;
  box-shadow: 1px 1px 19px -2px #155a9e80;
  transition: all 250ms;
  overflow: hidden;
  margin-top: 2%;
}

.about-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0d3762;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #0d3762;
  box-shadow: 4px 8px 19px -3px #0d3762;
  transition: all 250ms;
}
.go-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #0d3762;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px #0d3762;
  box-shadow: 4px 8px 19px -3px #0d3762;
  transition: all 250ms;
}
.go-button:hover{
    color: #e8e8e8;

}
.about-button:hover {
  color: #e8e8e8;
}
.go-button:hover::before {
  width: 100%;
}

.about-button:hover::before {
  width: 100%;
}
.swiper {
  position: relative;
  width: 90%;
  height: 100%;
  margin-top: 5%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  position: relative;
}

.carousel-img {
  width: 70%;
  height: 350px;
  cursor: pointer;
}
.image-name-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  width: 64%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-slide:hover .image-name-container {
  opacity: 1;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.65
  ); /* Adjust the opacity as desired */
  box-shadow: 0 0 10px #071b2f; /* Adjust the color and intensity of the shadow as desired */
}

.image-name {
  color: #0d3762;
  font-size: 25px;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

.swiper-slide:hover .content-details {
  opacity: 1;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}
.feedback-container {
  margin: 0 5%;
}
.feedback-title {
  color: #0d3762;
  text-align: start;
  font-size: 40px;
  text-align: start;
}

.feedback-text {
  width: 450px;
  text-align: start;
  font-size: 20px;
  color: #071b2f;
}

.feedback-images {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.for-absolue {
  width: 90%;
  position: relative;
}

.feed-image {
  max-width: 20%;
  aspect-ratio: 1/1.6;
  border-radius: 10px;
}

.feed-image:first-of-type {
  /* align-self: flex-end; */
  margin-top: 250px;
}

.feed-image:last-of-type {
  /* align-self: flex-start; */
  margin-top: -200px;
}

.feed-image:nth-of-type(2) {
  margin-top: 100px;
}

.feed-image:nth-of-type(3) {
  margin-top: -65px;
}
.desc_wrapper {
  display: block;
  width: 600px;
  border-radius: 20px;
  height: 100px;
  background-color: #c6d1dc;
  position: absolute;
  right: 0;
  bottom: -200px;
  border-bottom: 10px solid #0d3762;
}
.slider-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 5%;
}
.location-card img {
  width: 95%;
  height: 400px; /* Adjust the desired height */
  object-fit: cover; /* Ensure the image maintains its aspect ratio and fills the available space */
}
@media (max-width: 480px) {
  .activity-select {
    width: 100%;
  }
  .about-text {
    text-align: center;
    font-size: 1.5rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }.about-text .title-abouthome {
  color: #0d3762;
  font-size: 40px;
  line-height: 2;
}

  .about-video video {
    width: 65%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto;
  }
  .places-text {
    width: 100%;
    font-size: 20px;
    margin-left: 4%;
    margin-right: auto;
  }
  .activity-select {
    width: 100%;
  }
  .about-button{
    margin-top: 2%;
  }
  .about-video {
    width: 100%;
    transform: none;
    transform: rotate(-90deg);
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-title {
    margin-inline-start: 0;
    text-align: center;
  }

  .about-text {
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
  }

  .feedback-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #071b2f;
  }
  .feedback-title {
    font-size: 40px;
    text-align: center;
  }
  .desc_wrapper {
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: #c6d1dc;
    position: absolute;
    border-bottom: 5px solid #0d3762;
  }

.feed-image{
  height:150px;
  width: 100%;
}

}
