.main-footer {
  position: relative;
  background: #0d3762;
  bottom: 0;
  height: 25vh;
  overflow: hidden;

}
.footer-title p {
  color: #9ea0a9;
}
.contact-footer {
  color: #9ea0a9;
  width: min-content;
}
.contact-footer .text {
  color: #9ea0a9;
}
.footer-title {
  width: 500px;
}
.footer-content {
  position: relative;
}
.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-content .logo-widget {
  position: relative;
  margin-top: -5px;
}

.footer-content .logo-widget .footer-social li {
  position: relative;
  display: inline-block;
  margin-right: 9px;
}

.footer-content .logo-widget .footer-social li:last-child {
  margin-right: 0px;
}

.footer-content .logo-widget .footer-social li a {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #fff;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
}

.footer-content .logo-widget .footer-social li a:hover {
  color: #ffffff;
  background: #59abae;
}

.footer-content .logo-widget .logo-box {
  margin-bottom: 25px;
}
.logo-box {
  margin-top: 5%;
}

.footer-content .logo-widget .text p {
  color: #9ea0a9;
  margin-bottom: 32px;
}

.footer-content .footer-title {
  position: relative;
  line-height: 35px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-weight: 700;
  margin: auto;
  width: 300px;
}
.contact-footer{
  margin: auto;
  text-align: center;
}
.footer-content .service-widget .list li {
  display: block;
  margin-bottom: 12px;
}

.footer-content .service-widget .list li a {
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}

.footer-content .service-widget .list li a:hover {
  color: #59abae;
}

.footer-content .contact-widget p {
  color: #9ea0a9;
  margin-bottom: 15px;
}

.footer-content .contact-widget {
  margin-left: 90px;
}

.footer-content .contact-widget .footer-title {
  margin-bottom: 29px;
}


.footer-bottom .footer-nav li a:hover,
.footer-bottom .footer-nav li a:focus {
  color: #59abae;
}

.footer-bottom .footer-nav {
  position: relative;
  text-align: right;
}

.footer-bottom .footer-nav li {
  position: relative;
  display: inline-block;
  margin-left: 29px;
}

.footer-bottom .footer-nav li:first-child {
  margin-left: 0px;
}

.footer-bottom .footer-nav li:before {
  position: absolute;
  content: "";
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}

.footer-bottom .footer-nav li:first-child:before {
  display: none;
}

.logo-box img {
  max-width: 220px;
}
@media (max-width: 480px) {
  .main-footer {
    width: 100%;
  }
  .flex-footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .main-footer {
    width: 100%;
    height: fit-content;
    justify-content: center;
    text-align: center;
  }
  .flex-footer {
    display: flex;
    flex-direction: column;
  }
}
